# IntelliJ

*.iml
*.ipr
*.iws
pmip.rb

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
# Files that might appear on external disk
.Spotlight-V100
.Trashes
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/

*.class

# Package Files
*.jar
*.war
*.ear